.a-glide-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.a-glide-up.visible {
  opacity: 1;
  transform: translateY(0);
}
  
.a-ease-in {
  opacity: 0;
  transition: opacity 1s ease;
}

.a-ease-in.visible {
  opacity: 1;
}
