

.blob {
    overflow: hidden;
  }
  
  .blob::before {
    top: 65%;
    left: 80%;
  
    content: '';
    position: absolute;
    border-radius: 50%;
    filter: blur(40px); /* Apply blur */
    transform: translate(-50%, -50%);
    animation: moveBlob 10s infinite ease-in-out; /* Animation for movement */
  }
  
  .blob1::before {
    width: 200px;
    height: 200px;
    background: #0077c2;
  }
  
  .blob2::before {
    width: 80px;
    height: 80px;
    background: #008bff;
  
    animation: bounceBlob 10s infinite linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
  }
  
  .blob3::before {
    width: 100px;
    height: 100px;
    background: #008bff;
  
    animation: spinBlob 6s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  }
  
  @media screen and (max-width: 768px) {
    .blob { display: none; }
  }

  @keyframes moveBlob {
    0% {
      transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
    50% {
      transform: translate(-40%, -40%) scale(1.2) rotate(180deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(1) rotate(360deg);
    }
  }
  
  @keyframes spinBlob {
    from {
      transform: rotateZ(0) translateX(80px) rotateZ(0);
    }
    to {
      transform: rotateZ(360deg) translateX(80px) rotateZ(-360deg);
    }
  }
  
  @keyframes bounceBlob {
    0% {
      transform: rotateZ(0) translateX(-140px) rotateZ(0);
    }
    50% {
      transform: rotateZ(90deg) translateX(-140px) rotateZ(-90deg);
    }
    100% {
      transform: rotateZ(0) translateX(-140px) rotateZ(0);
    }
  }