[data-theme='light'] {
  body {
    --highlight-col: #0a5b92;
  }

  .hero {
    --bulma-hero-h: 0;
    --bulma-hero-s: 0%;
    --bulma-hero-background-l: 95%;
  }

  .dark-only {
    display: none;
  }
}

[data-theme='dark'] {
  body {
    --highlight-col: #0f84d2;
  }

  .hero {
    --bulma-hero-h: 0;
    --bulma-hero-s: 0%;
    --bulma-hero-background-l: 12%;
  }

  .light-only {
    display: none;
  }
}

:root {
  --linkedin-h: 210;
  --linkedin-s: 90%;
  --linkedin-l: 40%;
  --linkedin-invert-l: 95%;
  --linkedin-color: hsl(var(--linkedin-h), var(--linkedin-s), var(--linkedin-l));
}

p {
  margin-bottom: 1em;
  font-size: 1.25rem;
}

.dropdown-item p {
  margin-bottom: 0;
  font-size: unset;
}

.popup-close {
  float: right;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

li { font-size: 1.25rem; }

strong {
  color: var(--highlight-col) !important;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;

  font-weight: 800;
  line-height: 1.25;
}

h2 {
  color: var(--highlight-col) !important;

  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.25;

  margin-top: 0.5em;
}

h3 {
  color: var(--highlight-col) !important;

  font-size: 1.8rem;
  font-weight: 400;
}

.centered {
  margin-left: auto; 
  margin-right: auto;
}

.w-100 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.w-75 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.w-50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.w-25 {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.ms-y-2 {
  margin-top: .5rem!important;
  margin-bottom: .5rem!important;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.visually-hidden:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.typer {
  display: inline;
}

.flex-wrap { flex-wrap: wrap; }

.is-grouped .control {
  margin-bottom: 0;
}

.button.is-linkedin {
  --bulma-button-h: var(--linkedin-h);
  --bulma-button-s: var(--linkedin-s);
  --bulma-button-l: var(--linkedin-l);
  --bulma-button-background-l: var(--linkedin-l);
  --bulma-button-border-l: var(--linkedin-l);
  --bulma-button-border-width: 0px;
  --bulma-button-color-l: var(--linkedin-invert-l);
  --bulma-button-outer-shadow-a: 0;
}
.button.is-linkedin:focus-visible,
.button.is-linkedin.is-focused {
  --bulma-button-border-width: 1px;
}

.is-link a {
  color: white;
}

.content a {
  text-decoration: underline;
}

.hero {
  --bulma-hero-color-l: var(--highlight-text-l);
  background-color: hsl(var(--bulma-hero-h), var(--bulma-hero-s), var(--bulma-hero-background-l));
  color: hsl(var(--bulma-hero-h), var(--bulma-hero-s), var(--bulma-hero-color-l));
}
.hero .title {
  --bulma-title-color: hsl(var(--bulma-hero-h), var(--bulma-hero-s), var(--bulma-hero-color-l));
  --bulma-title-strong-color: hsl(
    var(--bulma-hero-h),
    var(--bulma-hero-s),
    var(--bulma-hero-color-l)
  );
}
.hero .subtitle {
  --bulma-subtitle-color: hsl(var(--bulma-hero-h), var(--bulma-hero-s), var(--bulma-hero-color-l));
  --bulma-subtitle-strong-color: hsl(
    var(--bulma-hero-h),
    var(--bulma-hero-s),
    var(--bulma-hero-color-l)
  );
}

.hero-body.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

@media screen and (max-width: 769px) {
  .flexgrid.stack {
    --cols: 2;
  }
  .flexgrid.projectslist {
    --cols: 1;
  }
}

@media screen and (min-width: 769px) {
  .flexgrid.stack {
    --cols: 3;
  }
  .flexgrid.projectslist {
    --cols: 2;
  }
}

@media screen and (min-width: 1024px) {
  .flexgrid.stack {
    --cols: 4;
  }
  .flexgrid.projectslist {
    --cols: 2;
  }
}
@media screen and (min-width: 1408px) {
  .flexgrid.stack {
    --cols: 5;
  }
  .flexgrid.projectslist {
    --cols: 3;
  }
}

.flexgrid {
  --gap: 1.25rem;
}

.flexgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  margin-bottom: 2em;
}

.flexgrid .cell {
  flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
}

.stack .cell {
  padding: 1.25rem 1rem;
  background-image: linear-gradient(90deg, #114a7a, #0a5b92);
  border-radius: var(--bulma-radius);
  color: white;

  display: flex;
  align-items: center;
}

.stack .cell img {
  height: 3em;
  margin-right: 1em;
}

.card.project-card {
  margin-bottom: 0 !important;
  flex-direction: column;
  display: flex;
}

.card.project-card .card-footer {
  margin-top: auto;
}

ul {
  list-style: square;
  margin-left: 2em;
  margin-bottom: 0.2lh;
  line-height: 1.5;
}

.imgbg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .imgbg {
    min-height: 30vh;
  }
}

@media screen and (max-width: 1023px) {
  .dropdown-no-touch { display: unset; }
}

.links-nextprev-next { margin-left: auto; }
.links-nextprev-prev { margin-right: auto; }

.yt-video {
  max-width: 80%;
  width: 560px; 
  aspect-ratio: 16/9; 
  height: auto; 
}
