{%- if not projectslist %} {%- set projectslist = collections.projects | head(-6) %} {%- endif %}
{%- set projectslistCounter = projectsCount %}

<div class="flexgrid projectslist my-5">
{%- for proj in projectslist %}
{%- if page.lang in proj.data.tags %}

<div class="card cell a-glide-up project-card" id="project-card-{{proj.data.title}}">
	{%- if proj.data.img %}
	<div class="card-image">
		<figure class="image">
		<img
			src="{{proj.data.img}}"
			alt="{{proj.title}} image"
		/>
		</figure>
	</div>
  	{%- endif %}
	<div class="card-content">
		<div class="media-content">
			<p class="title is-4">{{proj.data.title}}</p>
			<p class="subtitle is-6"><time datetime="{{ proj.data.date | htmlDateString }}">{{ proj.data.date | readableDate }}</time></p>
		</div>
		<p>{{proj.data.short}}</p>
	</div>
	<footer class="card-footer">
		<a href="{{proj.url}}" class="card-footer-item">{{strings.projlist_read[page.lang]}}</a>
		{%- if proj.data.source %}<a href="{{proj.data.source}}" class="card-footer-item">{{strings.projlist_source[page.lang]}}</a>{%- endif %}
		{%- if proj.data.extref %}<a href="{{proj.data.extref}}" class="card-footer-item">{{strings.projlist_ref[page.lang]}}</a>{%- endif %}
	</footer>
</div>

{%- endif %}
{%- endfor %}
</div>