{% set otherlang = ('EN' if (page.lang == 'HU') else 'HU') %}

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="has-navbar-fixed-top">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{%- css %}/* This is an arbitrary CSS string added to the bundle */{% endcss %}
		{%- css %}
			{% include "public/css/bulma.min.css" %}
			{% include "public/css/extra.css" %}
		{% endcss %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		{%- js %}
			{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}
			{% include "public/js/bulma.js"%}
			
			{% include "public/js/theme.js"%}
		{% endjs %}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			
			<nav
				class="navbar is-fixed-top p-4"
				role="navigation"
				aria-label="main navigation"
				>
				<div class="navbar-brand">
					<a class="navbar-item" href='{{ "/" | locale_url }}'> <img src="{{ '/vec/zs.svg' }}" /> ZSOTROAV</a>

					<a
						role="button"
						class="navbar-burger"
						aria-label="menu"
						aria-expanded="false"
						data-target="navbar"
						>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div id="navbar" class="navbar-menu">
        			<div class="navbar-start">
						{%- for entry in collections.all | eleventyNavigation %}
							<a class="navbar-item" href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						{%- endfor %}
					</div>
        			<div class="navbar-end">
						{% set langlinks = page.url | locale_links %}
						{%- for link in langlinks %}
						<a class="navbar-item mr-2" href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.lang}}</a>
						{%- endfor -%}
						<a class="navbar-item mr-2" onClick="window.changeTheme()"> <i class="fas fa-sun dark-only"></i> <i class="fas fa-moon light-only"></i><a>
					</div>
				</div>
			</nav>
		</header>

		<main id="skip">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer class="footer">
			<div class="content has-text-centered">
				<p>{{strings.footer_copyright[page.lang]}}</p>
				<p> {{strings.footer_made[page.lang]}}
					<a href="https://11ty.dev">11ty</a>,
					<a href="https://bulma.io">Bulma</a>{{strings.footer_and[page.lang]}}
					<span class="icon-text"><span class="icon">
						<i class="fas fa-heart"></i>
					</span></span>
					{{strings.footer_post[page.lang]}}
				</p>
				<p class="control">
					{%- for entry in links %}{% if entry.footer %}
						<button class="button {{entry.btnColor}} mx-2" 
								{% if entry.url %} onclick="window.open('{{entry.url}}', '_blank').focus()" {% else %} disabled {% endif %}
							>
								{% if entry.icon %} <span class="icon"><i class="fab {{entry.icon}}"></i></span> {% endif %}
						</button>
					{% endif %}{%- endfor %}
				</p>
			</div>
		</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
