---
title: zsotroav.dev - portfolio
description: zsotroav's portfolio
layout: layouts/base.njk
---

{%- css %}{% include "node_modules/typer-js/dist/typer.min.css" %}{% endcss %}
{%- js %}{% include "node_modules/typer-js/dist/typer.min.js" %}{% endjs %}

{%- js %}{% include "public/js/glide.js" %}{% endjs %}
{%- css %}{% include "public/css/glide.css" %}{% endcss %}

{%- css %}{% include "public/css/blob.css" %}{% endcss %}

<section class="hero is-fullheight-with-navbar">
  <div class="container hero-body">
    <div class="columns w-100">
      <div class="column is-half">
        <p class="is-family-monospaced is-size-1 title">{{strings.home_hi[page.lang]}}</p>
        <p class="is-size-2 subtitle">&ZeroWidthSpace;<sapn id="whatami"></span></p>
        <div class="field is-grouped flex-wrap">
          
          {%- for entry in links %}{% if entry.home %}
            <p class="control">
              <button class="button {{entry.btnColor}}" 
                {% if entry.url %} onclick="window.open('{{entry.url}}', '_blank').focus()" {% else %} disabled {% endif %}
              >
                {% if entry.icon %} <span class="icon"><i class="{{entry.icon}}"></i></span> {% endif %}
                {% if entry.text %} 
                  {% if entry.i18n[page.lang] %}
                    <span>{{entry.i18n[page.lang]}}</span>
                  {% else %}
                    <span>{{entry.text}}</span>
                  {% endif %}
                {% endif %}
              </button>
            </p>
          {% endif %}{%- endfor %}

        </div>
      </div>
      <div class="column is-half"></div>
      
      <div class="blob blob3"></div>
      <div class="blob blob2"></div>
      <div class="blob blob1"></div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

{{ content | safe }}

  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    typer('#whatami').line()
    {%- for entry in whatami %}
      .continue("{{entry.title[page.lang]}}")
      .pause(1500)
      .back('all')
      .pause(300)
    {%- endfor %}
    .repeat(Infinity, true);
  });
</script>
