---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/projects.css" %}{% endcss %}

<section class="hero is-halfheight">
  <div class="container hero-body">
    <div class="columns w-100">
      <div class="column is-half">
        <p class="is-family-monospaced is-size-1 title">{{ title }}</p>
        <p class="is-size-4 subtitle"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>

        <div class="field is-grouped flex-wrap">
          {%- if source %}
            <p class="control"><button class="button is-dark" onclick="window.open('{{source}}', '_blank').focus()">
              <span class="icon"><i class="fab fa-github"></i></span>
            </button></p>
          {%- endif %}
          {%- if extref %}
            <p class="control"><button class="button is-dark" onclick="window.open('{{extref}}', '_blank').focus()">
              <span class="icon"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
            </button></p>
          {%- endif %}
          {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/{{page.lang}}/projects/tags/{{ tag | slugify }}/{% endset %}
            <p class="control">
              <button class="button is-link"><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></button>
            </p>
          {%- endfor %}

        </div>

        {%- if collections.projects %}
          {%- set previousPost = collections.projects | getNextOrPreviousProject("previous") %}
          {%- set nextPost = collections.projects | getNextOrPreviousProject("next") %}
          {%- if nextPost or previousPost %}
            <div class="field flexgrid links-nextprev">
              {%- if previousPost %}<div class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>{% endif %}
              {%- if nextPost %}<div class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>{% endif %}
            </div>
          {%- endif %}
        {%- endif %}

      </div>
      <div class="column is-half {%- if img %} imgbg" style="background-image: url({{img}}) {%- endif %}"></div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    {{ content | safe }}

  </div>
</container>

